version: 2
jobs:
  build:
    # Test mocknet
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt install -y python3-venv
      - run: pip install -U -r requirements.txt
      - run:
          name: Mocknet Tests
          command: pytest tests/python/mocknet
      - run:
          name: Basic Tests
          command: pytest tests/python/basic

  tests_xenial:
    # Run all tests in xenial
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt install -y python3-venv
      - run: pip install -U -r requirements.txt
      - run:
          name: Mocknet Tests
          command: pytest tests/python/mocknet
      - run:
          name: Basic Tests
          command: pytest tests/python/basic
      - run:
          name: Fork recovery Tests
          command: pytest tests/python/fork_recovery

  tests_bionic:
    # Run all tests in bionic
    docker:
      - image: qrledger/qrl-docker:bionic
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt install -y python3-venv
      - run: pip install -U -r requirements.txt
      - run:
          name: Mocknet Tests
          command: pytest tests/python/mocknet
      - run:
          name: Basic Tests
          command: pytest tests/python/basic
      - run:
          name: Fork recovery Tests
          command: pytest tests/python/fork_recovery

  tests_fuzzing:
    # Run all tests in xenial
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt install -y python3-venv
      - run: pip install -U -r requirements.txt
      - run: pip install git+https://github.com/CurataEng/hypothesis-protobuf.git
      - run:
          name: Fuzzing Tests
          command: pytest tests/python/fuzzing

  tests_js:
    # Run javascript tests
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt install -y python3-venv
      - run: curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
      - run: apt-get install -y nodejs
      - run: npm -v
      - run:
          command: ./mocknet/MockNet.py
          background: true
      - run: sleep 15; cd tests/js && npm install && npm rebuild && npm test

  tests_webstack:
    # Run full webstack integration tests (wallet and explorer)
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: apt update -y
      - run: apt install -y locales default-jre default-jdk python3-venv netcat
      - run: locale-gen en_US.UTF-8
      - run: localedef -i en_US -f UTF-8 en_US.UTF-8
      - run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      - run: apt install -y -f ./google-chrome-stable_current_amd64.deb
      - run: curl https://install.meteor.com/ | sh
      - run: curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
      - run: apt-get install -y nodejs
      - run: npm -v
      - run: npm install -g qrl-electrify --unsafe-perm
      - run: npm install -g chimp --unsafe-perm
      - run: npm install -g selenium-standalone
      - run: curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
      - run: python3 get-pip.py --user --force-reinstall
      - run: pip install -U -r requirements.txt
      - run: cd tests && git clone https://github.com/theQRL/qrl-wallet.git
      - run: cd tests && git clone https://github.com/theQRL/block-explorer.git
      - run: cd tests/qrl-wallet && meteor npm install --unsafe-perm
      - run: cd tests/block-explorer && meteor npm install --unsafe-perm
      - run:
          command: cd tests/qrl-wallet && meteor --allow-superuser --settings mocknet.json
          background: true
      - run: until curl --max-time 300 http://localhost:3000/; do sleep 1; done
      - run:
          command: cd tests/block-explorer && meteor --allow-superuser --settings mocknet.json --port 3003
          background: true
      - run: until curl --max-time 300 http://localhost:3003/; do sleep 1; done
      - run:
          command: nice ./mocknet/MockNet.py miningenabled
          background: true
      - run: while ! echo exit | nc 127.0.0.1 10002; do sleep 10; done
      - run: cd tests/chimp && chimp --ddp=http://localhost:3000 --browser=chrome --path=tests

  debug:
    # debugging job - this can be customize locally but it wont run in circleci
    # to run this, execute circleci build --job debug
    docker:
      - image: qrledger/qrl-docker:xenial
    environment:
      PYTHONPATH: /root/project
    steps:
      - checkout
      - run: pip install -U -r requirements.txt
      - run: apt install -y python3-venv
      - run:
          name: Debugging -  Adjust accordingly
          command: pytest tests/python/mocknet -k 'test_timeout'

workflows:
  version: 2
  build_all:
    jobs:
      - build
      - tests_xenial
      - tests_bionic
      - tests_js
      - tests_webstack
